# Python runtime
__pycache__

# IDE project files
.idea
.vscode

# JupyterLab
.ipynb_checkpoints

# Generated data
runs
/*.txt
*.tar
*.h5
*.zip
*.pdf
*.tar.gz

# Logs
logs/
tests/test_test_distributions.py
slurm/bns_training/bns_training_workflow_analysis.html
